---
// library imports
import { Icon } from "astro-icon";

interface Props {
  text: string;
  href: string;
  style: "primary" | "secondary";
  icon?: {
    name: string;
    side: "left" | "right";
  };
  isFilled?: boolean;
  borderVisible?: boolean;
  classes?: string;
}

const {
  text,
  href,
  style,
  icon,
  isFilled = true,
  borderVisible = false,
  classes,
  ...rest
} = Astro.props as Props;
---

<a
  href={href}
  class:list={[
    "link",
    "break-all",
    classes,
    style,
    { filled: isFilled, bordered: borderVisible },
  ]}
  {...rest}
>
  {
    icon && icon.side === "left" && (
      <Icon name={icon.name} class="inline-block" height="24" width="24" />
    )
  }
  <span>{text}</span>

  {
    icon && icon.side === "right" && (
      <Icon name={icon.name} class="inline-block" height="24" width="24" />
    )
  }
</a>

<style is:global>
  a.filled {
    @apply inline-block bg-accent font-semibold text-white rounded px-3 py-2 mx-1 my-1 sm:my-3;
  }
  a svg {
    display: inline-block;
  }
</style>