---
export interface Props {
  title?: string;
  border?: boolean;
  classes?: string;
}
const { title = "", border = true, classes = "" } = Astro.props;
let borderClass = border && "border-b-1 border-secondary-dark/50";
---

<div class={`recipe-view px-6 text-center py-6 ${borderClass} ${classes}`}>
  {
    title.length ? (
      <p class="title font-medium text-xl sm:text-2xl">
        <span>{title}</span>
      </p>
    ) : (
      ""
    )
  }
  <div class="sidebar-content">
    <slot />
  </div>
</div>

<style>
  .title {
    margin-bottom: 10px;
  }
</style>
