---
import Layout from "@layouts/BaseLayout.astro";
import { SelectInput } from "@solidcomponents/formComponents/ZagSelectInput";

const comboboxData = [
  { label: "NL", code: "ZA", disabled: false },
  { label: "Beirut", code: "BN", disabled: false },
  //...
];
---

<Layout pagename="test" title="test">
  <section>
    <div class="p-4">
      <div class="group relative">
        <button class="bg-gray-800 text-white px-6 h-10 rounded">Menü</button>
        <nav
          tabindex="0"
          class="border border-2 bg-white invisible border-gray-800 rounded w-60 absolute left-0 top-full transition-all opacity-0 group-focus-within:visible group-focus-within:opacity-100 group-focus-within:translate-y-1"
        >
          <ul class="py-1">
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100"> Edit</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100"> Delete</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100"> Reply</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
</Layout>

<section class="w-1/4">
  <SelectInput
    label={"countries"}
    name={"countries"}
    options={comboboxData}
    allowCreate={true}
    client:load
  />@solidcomponents/formComponents/ZagSelect
</section>
