---
export const prerender = false
import Layout from "@layouts/BaseLayout.astro";
import RecipeForm from "@solidcomponents/forms/RecipeForm";
import { baseURL } from "@utils/apiClient";

const actionUrl = `${baseURL}recipes/`
---

<Layout pagename="newrecipe" title="New recipe">
  <section class="recipe-form">
    <div
      class="flex flex-col items-center justify-center px-6 py-6 mx-auto md:min-h-screen"
    >
      <h1 class="flex items-center mb-6 text-2xl font-semibold text-gray-900">
        Nueva receta
      </h1>
      <div
        class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-4xl md:max-w-7xl xl:p-0"
      >
        <RecipeForm action={actionUrl} client:load />
      </div>
    </div>
  </section>
</Layout>