---
import { Tag } from "../utils/interfaces";


export interface Props {
    tags: Array<Tag>;
}

const { tags = [] } = Astro.props;
const highlightedTags = tags.filter((tag) => {return tag.highligthed});
---

<div class="filter tags justify-center flex gap-2">
{
    highlightedTags.map((tag) => (
        <span data-name={tag.name} class="tagbutton bg-amber-300 text-md hover:ring-amber-500 hover:ring-2 hover:cursor-pointer hover:bg-amber-500 active:bg-amber-500 px-3 py-2 rounded-full">{tag.name}</span>
    ))

}
</div>

<style>

</style>

<script>
function isActive(tagname) {
    return filterTags.get().includes(tagname);
}

import { filterTags, setFilterTags } from "../recipeStore";
// Find all buttons with the `alert` class on the page.
const buttons = document.querySelectorAll('.tagbutton');

// Handle clicks on each button.
buttons.forEach((button) => {
  button.addEventListener('click', () => {
    let tagname = button.dataset.name;
    setFilterTags(tagname);
    button.classList.add('selected');
  });
});

</script>
