@reference "./global.css";

.CollapseTransition {
  transition: height var(--sc-auto-duration) cubic-bezier(0.65, 0, 0.35, 1);
  @apply py-3! px-3!;
}

.collapsable {
  button {
    @apply border-0
  }
  &.expanded {
    & .title {
      @apply border-b-2 border-secondary-contrast/40 hover:cursor-pointer rounded-b-none;
    }
    & svg {
      @apply rotate-180;
    }
    button {
      @apply rounded-b-none
    }
  }
  
  & .title {
    position: relative;
    @apply hover:bg-secondary rounded-lg;
  }
  & .ChevronButton {
    svg {
      @apply w-3 h-3 absolute right-5 top-1/2 transform -translate-y-1/2;
    }
  }

  @apply border-2 border-secondary-contrast/40 rounded-lg;
}


