@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: system-ui, sans-serif;
  background-color: #faf0dc;
  @apply pb-20 md:pb-10;
}
html.newrecipe {
  padding-bottom: 0;
}
code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

@layer utilities {
  .bk-accent {
    @apply bg-secondary text-primary active:bg-primary-accent active:text-secondary active:ring-secondary focus-visible:ring-secondary-dark-ring focus-visible:outline focus-visible:outline-1 focus-visible:ring-2 active:ring-2 disabled:cursor-not-allowed disabled:opacity-50;
  }

  .bk-accent-hover {
    @apply hover:bg-secondary-dark hover:text-primary hover:ring-secondary-contrast hover:ring-2;
  }

  .btn {
    @apply focus:ring-primary-accent my-3 rounded-lg px-5 py-2.5 text-center text-sm font-medium focus:outline-none focus:ring-2 focus:ring-offset-2;
  }

  .btn-accent {
    @reuse .bk-accent;
    @reuse .bk-accent-hover;
  }

  /* .btn-secondary-dark {
    @apply .bk-dark;
  } */

  .btn-primary {
    @apply bg-primary hover:bg-primary-accent rounded-lg border px-5 py-2.5 text-center text-sm font-medium text-white focus:outline-none focus:ring-offset-2 focus:ring-0
  }

  input:focus,
  .input.focused {
    @apply !border-secondary !ring-secondary-dark-ring !outline-0 !ring-1;
  }

  .input {
    @reuse input;
  }
  form {
    .errors {
      @apply relative rounded border border-red-400 bg-red-100 px-4 py-3 text-red-700;
    }
  }
}
