@reference "./global.css";

.tagsInput {
  [data-part="root"],
  [data-part="control"] {
    @apply w-full;
  }

  [data-part="control"] {
    [data-part="input"] {
      @apply border-0 shadow-none! outline-0! ring-0;
    }

    [data-part="trigger"] {
      &[data-state="closed"] {
        @apply rotate-180;
      }

      &:hover {
        @apply bg-secondary;
      }
    }

    &[data-disabled] {
      background: #f9f9f9;
    }

    &[data-focus] {
      [data-part="input"] {
        @apply border-0! outline-0! ring-0!;
      }
    }

    @apply w-full max-w-full rounded px-2 py-1;
  }

  [data-scope="tags-input"] {
    &[data-part="item"] {
      @apply bg-secondary hover:bg-secondary-dark hover:border-secondary-contrast inline-block rounded-full border-2 px-3 mr-1 hover:cursor-pointer;
    }
    &[data-part="item-delete-trigger"] {
      @apply hover:text-red-700 hover:cursor-pointer hover:scale-175 hover:rounded-full border-none;
    }
  }
  input { 
    border: none;
    &:focus {
      @apply ring-transparent!
    }
  }
}
